$colors: (
	common: (
		white: #ffffff,
		black: #000000,
	),
	heading: (
		primary: #0d1117,
	),
	text: (
		body: #3a454f,
		body-2: #aab2bb,
		body-3: #6a7682,
		body-4: #18222c,
		body-5: #ffffffcc,
	),
	theme: (
		primary: #f08020,
		bg: #e7ebef,
		bg-2: #dde3ea,
		bg-3: #1c2530,
		dark: #0d1117,
		dark-2: #18222c,
		dark-3: #36424f,
		dark-4: #67727e,
		dark-5: #6a6f78,
	),
	red: (
		1: #ff0000,
	),
	grey: (
		1: #eef1f4,
		2: #aab2bb,
		3: #ffffff1a,
	),
	border: (
		1: #ccd3da,
		2: #2f3a42,
		3: #ffffff26,
		4: #ffffff33,
		5: #f0802026,
	),
);